
<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>
<title>JunBin</title>

<style>
	.content{
		margin-left:7%;
		margin-right:7%;
		margin-top:3%;
	}
	a{
		color:white;
	}
	a:hover{
		text-decoration:none;
		color:white;
	}
		
	a:active{
		text-decoration:none;
		font-size:45px;
		color:black;
		top:2px;
	}
	
	
	.animation{
		position:relative;
		cursor:pointer;
	}
	.animation:hover{
		top:2px;
		color:white;
		
	}
	
	.animation:active
	{
		text-decoration:none;
		font-size:45px;
		color:black;
		top:2px;
		
		
	}
	 
	@keyframes personal
		{
			0%{
				color:black;
			
			}
			
			25%{
				color:pink;
			}
			50%{
				color:green;
				
			}
			75%{
				color:red;
			}
			100%{
				color:black;
			
			}
		}
	
	.keyAnimation{
		animation-name:personal;
		animation-duration:5s;
		animation-delay:0s;
		animation-timing-function:linear;
		animation-iteration-count:3;
		
	}
	
	
	
	@keyframes personal1
		{
			0%{
				color:black;
				font-size: 50px;
			}
			
			25%{
				color:blue;
			}
			50%{
				color:red;
				font-size: 30px;
				transform: translateX(150px);
			}
			75%{
				color:yellow;
			}
			100%{
				color:black;
				font-size: 50px;
			}
		}
	
	.navbar-brand{
		animation-name:personal1;
		animation-duration:5s;
		animation-delay:0s;
		animation-timing-function:linear;
		animation-iteration-count:3;
		
	}
	
</style>


</head>






<body>
<%- include("partial/navInclude") -%>
	
<div class="content">
<h1 class="keyAnimation">About</h1>
<p><%- content %></p>
<br>
<button type="button" class="btn btn-danger animation" style="color:white; font-size:50px;"><a href="/resume">Resume</a></button>	
</div>


			
</body>
</html>