
<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>


<style>
	.content{
		margin-left:7%;
		margin-right:7%;
		margin-top:3%;
	}
	a:hover{
		text-decoration:none;
	}
	.animation{
		position:relative;
		box-shadow:0px 6px red;
		cursor:pointer;
	}
	.animation:hover{
		top:2px;
		box-shadow:0px 4px red;
	}
	.animation:active{
		font-size:45px;
		color:black;
		top:2px;
		box-shadow:0px 4px red;
	}
	
</style>


</head>






<body>
<%- include("partial/navInclude") -%>
	
<div class="content">
<h1>About</h1>
<p><%- content %></p>
<br>
<button type="button" class="btn btn-danger animation" style="color:white; font-size:50px;"><a style="color:white;" href="/resume">Resume</a></button>	
</div>


			
</body>
</html>