
<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>

<title>JunBin</title>
<style>
	.content{
		margin-left:7%;
		margin-right:7%;
		margin-top:3%;
	}
	.title{
		width:100%;
	}
	.title:focus{
		background-color:Chartreuse;
	}
	.typing:focus{
		background-color:Cornsilk;
		   }
	
	@keyframes showing
		{
			
			100%{
				opacity:1;
			}
		}
	
		.content{
		opacity:0;
		animation-duration:1s;
		animation-delay:0.5s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
		.content form .title{
		opacity:0;
		animation-duration:1s;
		animation-delay:1s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
		.content form .typing{
		opacity:0;
		animation-duration:1s;
		animation-delay:1.5s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
	.content form .password{
		opacity:0;
		animation-duration:1s;
		animation-delay:1.5s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
	.content form .btn{
		opacity:0;
		animation-duration:1s;
		animation-delay:2.0s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
</style>
</head>

	<body>
		<%- include("partial/navInclude") -%>
		
<div class="content">
		<h1>Compose</h1>
		<p style="font-weight:bold;">Title</p>
		
	<form action="/compose" method=post>
		
		<input type="text" name="title" class="title" autocomplete="off">
		<br><br><br>
		
		<textarea name="journal" rows="7" cols="150" class="typing" value="hello">
        </textarea>
        
        <br>
       <div class="password"> PassWord:<input type="password"  name="password" autocomplete="off"><br><br>
		   <button class="btn btn-lg btn-info" type="submit">Publish</button></div>
	</form>
</div>
	</body>

</html>