
<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>
<title>Blog</title>
<style>
	.content{
		margin-left:7%;
		margin-right:7%;
		margin-top:3%;
	}
	
	
</style>
</head>







<body>
<%- include("partial/navInclude") -%>

<div class="content">
<h1>Contact</h1>
	<p><%- content %></p>
	<p>Sign in to be my FAN!!!</p>
</div>
	
</body>
</html>