
<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>
<title>JunBin</title>
<style>
	.content{
		margin-left:7%;
		margin-right:7%;
		margin-top:3%;
	}
	.compose{
		color:pink;
	}
	.compose:hover{
		color:pink;
		text-decoration:none;
	}
	
		@keyframes showing
		{
			
			100%{
				opacity:1;
			}
		}
	
		.content .home{
		opacity:0;
		animation-duration:1s;
		animation-delay:0.5s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
			.content .homeContent{
		opacity:0;
		animation-duration:1s;
		animation-delay:1s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
	.content form{
		opacity:0;
		animation-duration:1s;
		animation-delay:1.5s;
		animation-name:showing;
		animation-fill-mode:forwards;
	}
	
</style>
</head>







<body>
<!–– Loop for all title and content    ––>


    
<div class="content">

    <% for(var i=0; i<collection.length;i++){  %> 

	<h1><%=  collection[i].name %> </h1>
	<p><%=   collection[i].message %> 
    <br><br>
    <% } %> 
</div>
</body>


  
</html>