
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    
    <link href="css/signIn.css" rel="stylesheet">   <!-- Really Important, Static -->
    
    <style>
	  
	.myNav{
	height: 100px;
	  }

.navbar-brand{
	font-size: 50px;
}

.nav-link{
	font-size: 20px;
	margin:15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}  
	</style>
    
    
  </head>



  <body class="text-center">
   
  <nav class="navbar navbar-expand-lg navbar-light bg-light myNav" style="margin:15px; text-align:center;">
<div class="navbar-brand" href="">DAILY JOURNAL</div>
	
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    
     
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME</a>
	  </li>
	
	 
	  <li class="nav-item active">
        <a class="nav-link" href="/about">ABOUT</a>
	  </li>
	   <li class="nav-item active">
        <a class="nav-link" href="/contact">CONTACT</a>
	  </li>

	  
	  
	            
<li class="nav-item dropdown">
       
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red;font-weight:bold;">
          Fan
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/fan">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">SignIn</a>
        </div>
</li>
	</ul>
</div>
</nav>

 <div>
    <form class="form-signin" action="/register" method="post">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">JunBin Fan</h1>
      
    <!--  <input type="text" name="firstName"  class="form-control" placeholder="First Name" required> -->
    <!--  <input type="text" name="lastName" class="form-control myFocus" placeholder="Last Name" required> -->
      <input name="gmail" type="email" name="emailAddress" id="inputEmail" class="form-control myFocus1" placeholder="Email address" required autofocus>
      <input name="password" type="password" name="password"  class="form-control myFocus" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; JunBin Create By Using BootStrap Template</p>
    </form>
</div> 
  </body>
</html>
