
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <link rel="icon" href="../../../../favicon.ico">

    <title>Register Your Account</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    
    <link href="css/signIn.css" rel="stylesheet">   <!-- Really Important, Static -->
    
    <style>
	  html,
body {
  
}

body {
  padding-bottom: 40px;
  background-color: white;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}



.form-signin .myFocus:focus {
  background-color: cyan;
}


.form-signin .myFocus1:focus {
  background-color: deepskyblue;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
		
		
	.myNav{
	height: 100px;
	  }

.navbar-brand{
	font-size: 50px;
}

.nav-link{
	font-size: 20px;
	margin:15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}  
		
			@keyframes personal
		{
			0%{
				color:black;
				font-size: 50px;
			}
			
			25%{
				color:blue;
			}
			50%{
				color:red;
				font-size: 30px;
				transform: translateX(150px);
			}
			75%{
				color:yellow;
			}
			100%{
				color:black;
				font-size: 50px;
			}
		}
	
	.navbar-brand{
		animation-name:personal;
		animation-duration:5s;
		animation-delay:0s;
		animation-timing-function:linear;
		animation-iteration-count:3;
		
	}
		.mybtn{
			margin-top:10px;
			position:relative;
			
		}
		.mybtn:hover{
			top:5px;
			
		}
	</style>
    
    
  </head>



  <body style="text-align:center;">
   
  <nav class="navbar navbar-expand-lg navbar-light bg-light myNav" style="margin:15px; text-align:center;">
<div class="navbar-brand" href="">JunBin Page</div>
	
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
  
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    
     
    <li class="nav-item active">
        <a class="nav-link" href="/">ABOUT</a>
	  </li>
	  <li class="nav-item active">
        <a class="nav-link" href="/journal">JOURNAL</a>
	  </li>
	   <li class="nav-item active">
        <a class="nav-link" href="/contact">CONTACT</a>
	  </li>

	  
	  
	            
<li class="nav-item dropdown">
       
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red;font-weight:bold;">
          Fan
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/register">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signin">SignIn</a>
        </div>
</li>
	</ul>
</div>
</nav>
	 
 <div>
    <form class="form-signin" action="/register" method="post">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">JunBin Fan</h1>
      
    <!--  <input type="text" name="firstName"  class="form-control" placeholder="First Name" required> -->
      <input type="text" name="name" class="form-control" placeholder="Your Name" required> 
      <input name="gmail" type="email" name="emailAddress" id="inputEmail" class="form-control myFocus1" placeholder="Email address" required autofocus>
      <input name="password" type="password" name="password"  class="form-control myFocus" placeholder="Password" required>
      
      <button class="btn btn-lg btn-danger btn-block mybtn" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">&copy; JunBin Create By Using BootStrap Template</p>
    </form>
</div> 
  </body>
</html>
