<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Resume</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
	<style>
	
		body{
			background-color:antiquewhite;
		}
		
		a:hover{
	 text-decoration:none;
	}
	</style>
	
 
</head>





<body>
	<h1 style="text-align:center;">My Resume 😎</h1>
	<div style="margin-left:900px; font-weight: bold;">
	<p style="margin-bottom: 0px;">Flushing NY</p>
	<p style="margin-bottom: 0px;">Phone : 917-678-4238</p>
	<p style="margin-bottom: 0px;">junbinliang816@gmail.com</p>
	<p style="margin-bottom: 0px;">Linkined : https://www.linkedin.com/in/junbin-liang-482556176/</p>
	</div>
	<br>
	
<div class="row">	
 <div id="education" class="col-sm-7">
	<h3 style="color:skyblue;">Education 🤵</h3>
	<p style="font-weight:bold;">Queens College City University of New York:</p>
	<p style="margin-bottom: 0px;">Freshmen &nbsp&nbsp Jun. 2018 - Jun. 2022</p>
	<p style="margin-bottom: 0px;">Major: Computer Science and Mathematic</p>
	<ul style="margin-bottom: 0px;margin-top: 0px;">
		<li>GPA : 3.85</li>
		<li>CS GPA : 4.0</li>
	</ul>
	
	<p style="font-weight:bold;">Relate Course Work</p>
	<p style="margin-bottom: 0px;">CS111 : Introduction to Programming &nbsp &nbsp CS211 :Object Oriented Programming C++</p>
	<p style="margin-bottom: 0px;">CS240 : Assembly Language and Computer Organization &nbsp &nbsp MATH120 : Discrete Math</p>
	<p style="margin-bottom: 0px;">Math151 : Calculus I &nbsp &nbsp MATH152 : Calculus II &nbsp &nbsp CS212 : Object Oriented Programming Java</p>
	<p style="margin-bottom: 0px;">PHY145 : College Physics I &nbsp &nbsp PHY145 : College Physics II</p>
 </div>
 
  <div id="education" class="col-sm-5" style="border-left: 2px solid black;">
	<h3 style="color:skyblue;">SKIllS 💪</h3>
	  <ul>
		  <li>C++ and Java</li>
		  <li>HTML + CSS</li>
		  <li>JavaScript</li>
		  <li>Node.Js (EXPRESS and EJS)</li>
		  <li>MongoDB(Mongoose)</li>
	  </ul>
	  <h3 style="color:skyblue;">Language Speak (Full Profession) 🤔</h3>
	  <ul>
		  <li>English</li>
		  <li>Mandarian</li>
		  <li>Korean</li>
		  <li>Cantonese</li>
	  </ul>
 </div>
</div>

<div class="row">
	<div class="col-sm-7">
		<h3 style="color:skyblue;">PROJECT 🤑</h3>
		<p style="font-weight:bold;"><p style="font-weight:bold;">The Complete 2019 Web Development Bootcamp（Udemy)</p>
		<p style="margin-bottom: 0px;">Nov 2018 – Jan 2019</p>
		<p style="margin-bottom: 0px;">&nbsp &nbsp &nbsp I took this course in Udemy, which equivalanet to a real Bootcamp and completed all required projects.</p>
		<p style="margin-bottom: 0px;">&nbsp &nbsp &nbsp Course Link : https://www.udemy.com/the-complete-web-development-bootcamp/ </p><br> 
		<p >&nbsp &nbsp &nbsp I make by Personal website by using HTML, CSS, JS, Node, EXPRESS, EJS and MongoDB</p>
		<button type="button" class="btn btn-outline-info"><a href="/">Personal Website</a></button>
	</div>
	
		<div class="col-sm-5" style="border-left: 2px solid black;">
		<h3 style="color:skyblue;">Experience 😖</h3>
		<p style="font-weight:bold;"><p style="font-weight:bold;">High School Library Assitant - MCNDHS</p>
		<p style="margin-bottom: 0px;">Jul 2017 – Jun 2018</p>
			<ul>
				<li>
					Help students to print material and solve some basic computer technology problems
				</li>
				<li>
					Book Management
				</li>
			</ul>
	</div>
</div>
</body>
</html>