<!DOCTYPE html>
<html>

<head>
<%- include("partial/blogheadInclude") -%>

<title>JunBin</title>
<style>
	.password{
		text-align:center;
		margin-top:250px;
	}
</style>
</head>

<body>
	
		

		
	<form action="/myMessage" method=post>
		
		
		
		
       <div class="password"> PassWord:<input type="password"  name="messagePassord" autocomplete="off"><br><br>
		   <button class="btn btn-lg btn-info" type="submit">Go</button>
	   </div>
	   
	</form>

</body>

</html>