.myNav{
	height: 100px;
	  }

.navbar-brand{
	font-size: 50px;
}

.nav-link{
	font-size: 20px;
	margin:15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}